@model opr.Models.School
@{
    ViewBag.Title = "AddSchool";

}

@using (Html.BeginForm("AddSchool","School",FormMethod.Post,new { @class = "grid-form" }))
{
<fieldset>
    <legend>Add Schools</legend>
    <div data-row-span="4">
        <div data-field-span="3">
            <label for="ex3">School Name:</label>
            @Html.TextBoxFor(model => model.SchoolName, new { required = "required" })
        </div>
        <div data-field-span="1">
            <label for="ex3">Short Code:</label>
            @Html.TextBoxFor(model => model.ShortCode, new { required = "required" })

        </div>


    </div>
    <div data-row-span="1">
        <div data-field-span="1">
            <label for="ex3">School Address:</label>
            @Html.TextBoxFor(model => model.Address, new { required = "required" })
        </div>
    </div>

        <div data-row-span="3">
            <div data-field-span="1">
                <label for="ex3">Contact Person name:</label>
                @Html.TextBoxFor(model => model.ContactPerson, new { required = "required" })
            </div>
            <div data-field-span="1">
                <label for="ex3">Email:</label>
                @Html.TextBoxFor(model => model.Email, new { required = "required" })

            </div>
            <div data-field-span="1">
                <label for="ex3">Contact Name:</label>
                @Html.TextBoxFor(model => model.ContactPname, new { required = "required" })

            </div>
        </div>
        <div data-row-span="3">

            <div data-field-span="1">

                <label for="ex3">Contact Person Number:</label>
                @Html.TextBoxFor(model => model.ContactPnum, new { required = "required" })

            </div>
            <div data-field-span="1">
                <label for="ex3">Web Name:</label>
                @Html.TextBoxFor(model => model.Web, new { required = "required" })

            </div>
            <div data-field-span="1">
                <label for="ex3">phone Number:</label>
                @Html.TextBoxFor(model => model.Phone, new { required = "required" })

            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label for="ex3">Principal Name:</label>
                @Html.TextBoxFor(model => model.Principal, new { required = "required" })

            </div>

        </div>

        <div data-row-span="1">
            <div data-field-span="1">
                <label for="ex3">Description:</label>

                @Html.TextAreaFor(model => model.Description, new { required = "required" })

            </div>

        </div>
</fieldset>
    @Html.HiddenFor(model => model.ModifiedDate, new { @Value = DateTime.Now.ToString("dd-MM-yyyy"), required = "required", @class = "form-control" })

    @Html.HiddenFor(model => model.ModifiedBy, new { required = "required", @class = "form-control", placeholder = "Enter Short Code" })

    @Html.HiddenFor(model => model.ModifiedDate, new { required = "required", @class = "form-control" })

    @Html.HiddenFor(model => model.UserID, new { @Value = ViewBag.ide, required = "required", @class = "form-control", placeholder = "Enter Short Code" })

    <label><input type="submit" value="Submit" name="submit" /></label>


}
@Html.ActionLink("Details Show", "Index", "School");
