@model opr.Models.Campus_Table
@{
    ViewBag.Title = "EditCampus";

}

<h2>EditCampus</h2>

<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <form method="post">
                @Html.Label("Camus Name")
                <br />
                @Html.TextBoxFor(Model => Model.Campus_Name)
                <br />
                @Html.Label("Phone Number")
                <br />
                @Html.TextBoxFor(Model => Model.Contact_Phone)
                <br />
                @Html.Label(" Mobile Number")
                <br />
                @Html.TextBoxFor(Model => Model.Contact_Mobile)
                <br />
                @Html.Label("Campus Email ")
                <br />
                @Html.TextBoxFor(Model => Model.Campus_Email)
                <br />
                @Html.Label("Campus Address")
                <br />
                @Html.TextBoxFor(Model => Model.Campus_Address)
                @*<br />
                    @Html.Label("Registration Date")
                    <br />*@
                @Html.HiddenFor(Model => Model.Registration_Date, new { @Value = DateTime.Now.ToString("dd-MM-yyyy"), required = "required" })
                @*<br />
                    @Html.Label("User ID")
                    <br />*@
                @Html.HiddenFor(Model => Model.User_ID, new { @Value = ViewBag.idcam })
                @*input type="hidden" name="User_ID" value="@ViewBag.idcam" />*@
                <br />
                @*@Html.Label("Modified By")*@
                    <br />
                    @Html.HiddenFor(Model => Model.Modified_By, new { @Value = ViewBag.userName, required = "required" })
                    <br />
                    @*@Html.Label("Modified Date")*@
                    <br />
                    @Html.HiddenFor(Model => Model.Modified_Date, new { @Value = DateTime.Now.ToString("dd-MM-yyyy"), required = "required" })

                    <br />
                <br />
                @Html.Label("Description:")
                <br />
                @Html.TextAreaFor(Model => Model.Description, new { placeholder = "Write Something...." })
                <br />

                <br />
                <input type="submit" name="Submit" />
            </form>



        </div>
    </div>
</div>